
{% extends "layout.html" %}

{% block pageTitle %}
  Workflow index
{% endblock %}

{% block content %}


<!----------   grid-row-two-thirds   --------->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Introduction</h2>
        <p>
            Workflow is the process which items of work go through in order to be recorded and moved around on their journey
            to being complete. Each item of work is prioritised, routed and the obtained by a member of staff to be processed.
        </p>

        <div class="govuk-section-break--xl"></div>

        <h2 class="govuk-heading-l">Current prototype</h2>

        <p>
          <a href="https://dw0um7.axshare.com/#id=2vp22f&p=homepage" target="_blank">Master prototype</a>
        </p>
        <p>
            Link to more detailed information over the particular versions;
            google.IO, scenario’s, flows tested, screen shots, user research etc.
        </p>

        <h3 class="govuk-heading-l">Supporting prototypes</h3>

        <a href="https://kkogf8.axshare.com/p_i__show_tell__homepage.html"target="_blank">Production Information (May)</a>
        <p></p>
        <p>The purpose of this user research is to Usability test the Production Information prototype to establish how readily users can access and navigate to the Production Information available.</p>

        <a href="https://kkogf8.axshare.com/homepage.html"target="_blank">'Consider Assignment from' (April)</a>
        <p></p>

        <p>The purpose of this prototype is to establish whether the proposed language for ‘Next Action’ where a caseworker is assigned and receives work using the Manage Assigned function meets user needs.</p>
        <p>This is to bring the language used for referrals and assigned work in line with each other.</p>
        <p>The proposed Next Action language is ‘Consider assignment from <assignee name>’</p>
        <p></p>

        <a href="https://kkogf8.axshare.com/refer__single_volume_application_-_homepage.html"target="_blank">Manage Assigned Work (February)</a>
        <p></p>
        <p>The purpose of this research was to establish meaningful language to use when displaying an error message in the scenario where a workflow application was open in CORA, and it was ‘manage assigned’ to another user.</p>
        <p>The user the attempts to Refer or Defer the application .</p>

        <a href="https://kkogf8.axshare.com/category_homepage.html"target="_blank">Select a category of work - ERU (January)</a>
        <p></p>
        <p>Executive Register Updates will introduce four new categories of work.</p>
        <p>The purpose of this prototype was to explore the usability of the components for choosing a category of work with users using two prototypes.</p>
        <p>In particular we wanted to focus on the time taken and ease of completion of the task of selection of categories using both prototypes to ascertain which is more efficient and meets user needs.</p>

        <h3 class="govuk-heading-m">Refer</h3>

        <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://kkogf8.axshare.com/my_worklist_a2__static_.html"target="_blank">Refer - List A2 (January)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://kkogf8.axshare.com/my_worklist_a1__static_.html"target="_blank">Refer - List A1 (January)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://kkogf8.axshare.com/homepage_3.html"target="_blank">Refer - Tabs (January)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://kkogf8.axshare.com/homepage_2.html"target="_blank">Refer - Tabs (December)</a>
        </li>
        </ul>

        <p>The purpose of this research is to:</p>
        <ul class="govuk-list govuk-list--bullet">

        <p></p>
        <li>establish whether the refer prototype meets the user needs for a minimum viable product.</li>
        <li>confirm whether users need notification messages when they receive a referred application.</li>
        <li>identify any potential issues with the User journey.</li>
        <li>establish whether users can complete their normal user journeys using the prototype.</li>
        <li>establish what user expect the Date obtained to be on receiving a referred application.</li>
        <li>establish whether users need to see the name of the person they have referred an application to in the confirmation of action message.</li>
        </ul>
    </div>

    <!----------   grid-row-one-third   --------->

    <div class="govuk-grid-column-one-third">
        <!--<img src="../../public/images/filing-2.svg" alt="filing icon" height="56">-->
        <h3 class="govuk-heading-m">Documents</h3>
        <ul class="govuk-list govuk-body-s">
            <li><a href="">Likely to be a list of links</a></li>
            <li><a href="">Links to other information</a></li>
            <li><a href="">User Research</a></li>
        </ul>

        <div class="govuk-section-break--xl"></div>

        <a href="">Our filing structure</a>
    </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-section-break--xl">
        <div class="govuk-grid-column-one-third govuk-section-break--xl" align="center">
            <img src="../../public/images/service-history.png" alt="Service History icon" height="56">
            <div class="govuk-section-break--m"></div>
            <h2 class="govuk-heading-m">Service History</h2>
            <p>
                A history showing all the previous prototype versions highlighting what has changed and why, linking in to
                the user research that triggered the changes.
            </p>
        </div>

        <div class="govuk-grid-column-one-third govuk-section-break--xl" align="center">
            <img src="../../public/images/timeline.png" alt="Timeline icon" height="56">
            <div class="govuk-section-break--m"></div>
            <h2 class="govuk-heading-m">Timeline</h2>
            <p>
                What stage is the project in, how long will it be there, and when is the plan to move into the next stage.
            </p>
        </div>

        <div class="govuk-grid-column-one-third govuk-section-break--xl" align="center">
            <img src="../../public/images/assessments-2.png" alt="Assessments icon" height="56">
            <div class="govuk-section-break--m"></div>
            <h2 class="govuk-heading-m">Assessment</h2>
            <p>
                Have there been any assessments? Will there be an assessment, if so, when?
            </p>
            <a href="">Digital service standards</a>
        </div>
    </div>
</div>




<!--
    <!-- this section will be repeated as many times as necessary
    <h2 class="govuk-heading-l">Version history</h2>
    <h3 class="govuk-heading-m">
      <a href="">Version number/title</a>
      <span class="govuk-caption-m">January 2019</span>
    </h3>
    <p>
      Link to more detailed information over the particular versions; google.IO, scenario’s, flows tested,
      screen shots,user research etc.
    </p>

    <h4 class="govuk-heading-s">What is it</h4>
    <p>Summary of what was planned for this version.</p>

    <h4 class="govuk-heading-s">What was learnt</h4>
    <p>Bullet point summary.</p>

    <div class="govuk-section-break--l"></div>
    <hr>
    <div class="govuk-section-break--m"></div>

    <h3 class="govuk-heading-m">
      <a href="">Version number/title</a>
      <span class="govuk-caption-m">December 2018</span>
    </h3>
    <p>
      Link to more detailed information over the particular versions; google.IO, scenario’s, flows tested,
      screen shots,user research etc.
    </p>

    <h4 class="govuk-heading-s">What is it</h4>
    <p>Summary of what was planned for this version.</p>

    <h4 class="govuk-heading-s">What was learnt</h4>
    <p>Bullet point summary.</p>

    <div class="govuk-section-break--xl"></div>
    <hr/>
    <div class="govuk-section-break--l"></div> -->




{% endblock %}
